<h1> Welcome to my LinkedIn profile! </h1>
<div class="profile">
<h1> Martin C. Evans </h1>
<img src="my-nice-photo.jpg" style="width:200px;height:250px;"/>
<h2> I am a Technical Account Manager at Domo: The Business Cloud </h2>
<p> We live in a digital age and if you want to get a head then you need to learn to speak the language of greatest influence. </p>
<a href="https://www.linkedin.com/in/martincevans"> LinkedIn Profile </a>
</div>
 <img src="https://i.ytimg.com/vi/NeULhhnui1Y/maxresdefault.jpg/g/50/50" />