 .profile {
   font-size: 16px;
   text-transform: uppercase;
   text-align: center;
}

html {
    background: <img src="background-image.jpg" /> no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
     }