 .profile {
   font-size: 16px;
   text-transform: uppercase;
   text-align: center;
}

html {
background: url('https://static.pexels.com/photos/72509/pexels-photo-72509.jpeg') no-repeat center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}